@use "../../scss_styles/abstracts/variables" as v;
@use "../../scss_styles/abstracts/mixins" as m;

.container {
  display: flex;
  // position: absolute;
  right: 2%;
  top: -80px;
  border-radius: v.$rounded-md;
  flex-direction: column;
  // border: gray 1px solid;
  border-bottom: none;
  // height: 80vh;
  width: 30vw;
  margin-right: 2rem;
  // margin: auto;
  // margin-top: 5rem;
  // padding: 3rem;
  // padding-top: 2rem;

  .title {
    padding: 1rem;
    font-size: 1.5rem;
    background-color: v.$gray-200;
  }

  .profile_container {
    // padding: 3rem;
    > * {
      // margin-bottom: 1rem;
    }
  }

  .profile {
    display: flex;
    display: flex;
    align-items: center;
    border-bottom: 0.1px v.$gray-300 solid;
    padding: 1rem;
    // box-shadow: v.$shadow-md;
    cursor: pointer;

    .profile_info {
      > * {
        margin-bottom: 0.5rem;
      }
    }

    > * {
      margin-right: 1rem;
    }

    &:hover {
      color: white;
      background-color: v.$gray-300;
    }

    img {
      width: 50px;
      height: 50px;
      overflow: hidden;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  @include m.small {
    position: relative;
    width: 80%;
    max-height: none;
    min-height: 10vh;
    max-width: none;
    box-shadow: none;
  }
}
