@use "./abstracts/variables" as v;

body {
  background-color: v.$gray-100;
}

a {
  text-decoration: none;

  &:visited {
    text-decoration: none;
    color: black;
  }
  &:link {
    color: black;
  }
  &:active {
    color: black;
  }
}

.container {
  width: 80%;
  margin: auto;
}

// a:visited {
//   text-decoration: none;
//   color: orange;
// }
