@use "../../scss_styles/abstracts/variables" as v;

.navbar_container {
  background-color: white;
  .container {
    padding: 0.5rem 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
  }

  .nav__search-bar {
    padding: 1rem 1rem;
    background-color: v.$gray-100;
    border-radius: 2rem;
    width: 40%;

    input {
      border-radius: 2rem;
      margin-left: 1rem;
      background-color: transparent;
      width: 90%;
      font-size: 1rem;
      border: none;
      &:focus {
        border: none;
        outline: none;
      }
    }
  }

  .profile-icon-container {
    background-color: white;
    border: none;

    svg {
      height: 50px;
      width: 50px;
      color: v.$gray-300;
      cursor: pointer;
    }

    .welcome-text {
      font-size: 1.2rem;
      color: black !important;
    }

    .user_profile_pic_container {
      // jufy-content: center;
      // align-items: center;
      margin-right: 1rem;

      &:hover {
        opacity: 0.8;
        background-color: #000;
        // overflow: hidden;
        width: 50px;
        height: 50px;
        cursor: pointer;
      }

      img {
        width: 50px;
        height: 50px;
        overflow: hidden;
        border-radius: 50%;
        // background-size: cover;
        // background-position: center;
        object-fit: cover;
      }
    }
  }

  .brand_name {
    font-size: 2rem;
    font-weight: 800;
    opacity: 0.8;
    font-family: "Barlow";
  }

  .login_or_signup_btn {
    border: none;
    background-color: white;
    padding: 0.8rem 1rem;
    border-radius: 2rem;
    cursor: pointer;
    font-size: 1rem;
    border: 1px solid v.$primary-color-1;

    background-color: v.$primary-color-1;
    color: white;
  }
  .logout-btn {
    border: none;
    padding: 0.5rem 0.75rem;
    cursor: pointer;
    background-color: v.$red-500;
    letter-spacing: 1px;
    font-size: 1rem;
    color: white;
    min-width: 4rem;
  }
}
