.quickpost_container {
  .quickpost_btns_container {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column-reverse;

    > * {
      margin-right: 0.5rem;
      margin-bottom: 0.75rem;
    }
  }

  .inputs_container {
    margin-top: 1.5rem;
  }
}
