@use "../../scss_styles/abstracts/mixins" as m;
@use "../../scss_styles/abstracts/variables" as v;

.post-main-container {
  // width: 100%;

  margin-bottom: 2rem;

  .post-container {
    padding: 2rem;
    background-color: white;
    min-width: 30%;

    // width: 50%;
    border-radius: 1rem;
    // border: solid 2px rgba(0, 0, 0, 0.1);
    box-shadow: v.$shadow-lg;
    // border: 2px solid pink;
    // border-radius: 10px;
    line-height: 1.5;
    /* max-height: 80vh; */

    .reaction-container {
      // background-color: v.$gray-100;
      margin-top: 1.5rem;
      padding: 1rem;
      display: flex;
      box-shadow: v.$shadow-sm;

      .icon {
        font-size: 1.2rem;
      }
    }
  }

  // margin-top: 2rem;

  .upvote_container {
    width: 20px;
    height: auto;
    color: v.$primary-color-1;
  }

  .comment {
    color: black;
    opacity: 0.8;
    width: 300px;
    height: auto;
  }

  @include m.small {
    .post-container {
      width: 90%;
      padding: 1rem;
    }
  }
}

/* .img-icon {
      height: auto;
      width: 4rem;
      border-radius: 100%;
      overflow: hidden;
    } */

/* .img-icon img {
    width: 100%;
    height: auto;
    border-radius: 7%;
  } */

.img-icon img {
  width: 70px;
  // height: auto;
  height: 50px;
  object-fit: cover;
  border-radius: 5%;
  margin-right: 1rem;
}

.dot-icon {
}

.profile-details {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.title {
  word-wrap: break-word;
}

a.full-name {
  // font-weight: bold;
  font-size: 16px;
  color: v.$primary-color-1;
  letter-spacing: 0.5px;

  &:hover {
    text-decoration: underline;
  }
}

.time-posted {
  opacity: 0.5;
  font-size: 0.9rem;
  letter-spacing: 0.01px;
  font-weight: bold;
}

.post-details-container {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.post-image {
  /* height: 100%;
    width: 100%; */
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  overflow: hidden;
  border-radius: 1rem;
  /* background-color: lightblue; */
}

.post-image img {
  // Fixed height, and full width maybe
  width: auto;
  height: 400px;
  width: 100%;
  width: auto;
  object-fit: cover;
  border-radius: 1rem;
}

.reaction-container > * {
  margin-right: 2rem;
}
